<div style="width: 400px; margin: auto;">
    <div class="submit-form">
      <div *ngIf="!submitted">  
        <div class="form-group">
          <label for="name">Nombre</label>
          <input
            class="form-control"
            id="name"
            required
            [(ngModel)]="machine.name"
            name="name"
          />
        </div>
  
        <div class="form-group">
          <label for="description">Descripción</label>
          <input
            class="form-control"
            id="description"
            required
            [(ngModel)]="machine.description"
            name="description"
          />
        </div>
  
        <div class="form-group">
          <label for="lastDateMaintenance">Fecha de último mantenimiento</label>
          <input
          type="date"
            class="form-control"
            id="lastDateMaintenance"
            [(ngModel)]="machine.lastDateMaintenance"
            name="lastDateMaintenance"
          />
        </div>
  
        <div class="form-group">
          <label for="state">Estado</label>
          <input type="text"
            class="form-control"
            id="active"
            [(ngModel)]="machine.state"
            name="state"
          />
        </div>
  
        <button (click)="saveMachine()" class="btn btn-success">Enviar</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Enviado correctamente!</h4>
        <button class="btn btn-success" (click)="newMachine()">Agregar</button>
      </div>
    </div>
  </div>
  