<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar"
          [(ngModel)]="name"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchName()"
          >
            Buscar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Lista de máquinas</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let machine of machines; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveMachine(machine, i)"
        >
          {{ machine.name }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllMachines()">
        Remover todo
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentMachine">
        <h4>Máquina</h4>
        <div>
            <label><strong>Id:</strong></label> {{ currentMachine.id }}
          </div>
        <div>
          <label><strong>Nombre:</strong></label> {{ currentMachine.name }}
        </div>
        <div>
          <label><strong>Descripción:</strong></label>
          {{ currentMachine.description }}
        </div>
        <div>
          <label><strong>Fecha de último mantenimiento:</strong></label>
          {{ currentMachine.lastDateMaintenance }}
        </div>
        <div>
          <label><strong>Estado:</strong></label>
          {{ currentMachine.state }}
        </div>
  
        <a class="badge badge-warning" routerLink="/machines/{{ currentMachine.id }}">
          Editar
        </a>
      </div>
  
      <div *ngIf="!currentMachine">
        <br />
        <p>Click en un producto...</p>
      </div>
    </div>
  </div>
  