<div style="width: 400px; margin: auto;">
    <div *ngIf="currentComponent" class="edit-form">
      <h4>Componente</h4>
      <form>
        <div class="form-group">
          <label for="name">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="currentComponent.name"
            name="name"
            required="true"
          />
        </div>
        <div class="form-group">
          <label for="description">Descripción</label>
          <input
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="currentComponent.description"
            name="description"
            required="true"
          />
        </div>
  
        <div class="form-group">
          <label for="machineId">Máquina</label>
          <select
            class="form-control"
            id="machineId"
            required
            name="machineID"
            [(ngModel)]="currentComponent.machineId">
            <option *ngFor="let machine of machines" [ngValue]="machine.id">{{machine.name}}</option>
          </select>
        </div>
  
        <div class="form-group">
          <label for="comments">Comentarios</label>
          <input
            type="text"
            class="form-control"
            id="comments"
            [(ngModel)]="currentComponent.comments"
            name="comments"
          />
        </div>
  
  
      </form>
  
      <button class="badge badge-danger mr-2" (click)="deleteComponent()">
        Eliminar
      </button>
  
      <button
        type="submit"
        class="badge badge-success"
        (click)="updateComponent()"
      >
        Actualizar
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentComponent">
      <br />
      <p>No se puede acceder a este componente...</p>
    </div>

    <div *ngIf="error">
      <br />
      <h4>Error</h4>
    </div>
  </div>
  